@page
@model HospiEnCasa.Frontend.Pages.ListaPacientesModel
@{
    ViewData["Title"] = "Lista de Pacientes";
}

<h1>Listado de Pacientes</h1>
<hr>
<a asp-page="CrearPacientes">Nuevo Paciente</a>
<br> <br>

<form method="POST">
    <table class="table table-success table-striped">
        <thead>
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Genero</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Direccion</th>
                <th scope="col">Fecha de Nacimiento</th>
                <th scope="col" colspan="3">Opciones</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var paciente in Model.Paciente)
            {
                <tr>

                    <td>@paciente.Id</td>
                    <td>@paciente.Nombre</td>
                    <td>@paciente.Apellido</td>
                    <td>@paciente.Telefono</td>
                    <td>@paciente.Genero</td>
                    <td>@paciente.Ciudad</td>
                    <td>@paciente.Direccion</td>
                    <td>@paciente.FechaNacimiento</td>
                    <td><a asp-page="./EditarPaciente" asp-route-id="@paciente.Id">Editar</a></td>
                    <td><a asp-page="./VerPaciente" asp-route-id="@paciente.Id">Buscar</a></td>
                    <td><a asp-page="./EliminarPaciente" asp-route-id="@paciente.Id">Eliminar</a></td>
               </tr>

            }
       
</form>
