@page
@model HospiEnCasa.App.Frontend.Pages.ListadoMedicosModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Medicos";
=======
    ViewData["Title"] = "Listado de Medicos";
>>>>>>> parent of 002b127 (cambios en frontend)
}

<h1>Listado de Medicos de la Hospitalizacion en Casa</h1>
<hr>
<<<<<<< HEAD
<div class="col-12">
    <button type="button" class="btn btn-outline-success">
        <a asp-page="CrearMedico">Adicionar nuevo Medico</a>
    </button>
</div>
=======
<a asp-page="CrearMedico">Crear Medico</a>
>>>>>>> parent of 002b127 (cambios en frontend)

<form method="POST">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Genero</th>
                <th scope="col">Codigo</th>
                <th scope="col">Especialidad</th>
                <th scope="col"colspan="3" align="center">Opciones</th>
            </tr>
        </thead>
        <tbody>
<<<<<<< HEAD
        <br>
=======
>>>>>>> parent of 002b127 (cambios en frontend)
            @foreach (var medico in Model.Medicos)
            {
                <tr>
                    <th scope="row">@medico.Id</th>
                    <td>@medico.Nombre</td>
                    <td>@medico.Apellido</td>
                    <td>@medico.Telefono</td>
                    <td>@medico.Genero</td>
                    <td>@medico.Codigo</td>
                    <td>@medico.Especialidad</td>
<<<<<<< HEAD
                    <td><a asp-page="./EditarMedico" asp-route-id="@medico.Id">
                    <button type="button" class="btn btn-success">Editar</button></a></td>
                    <td><a asp-page="./VerMedico" asp-route-id="@medico.Id">
                    <button type="button" class="btn btn-success">Informacion</button></a></td>
                    <td><a asp-page="./EliminarMedico" asp-route-id="@medico.Id">
                    <button type="button" class="btn btn-success">Eliminar</button></a></td>
=======
                    <td><a asp-page="./EditarMedico" asp-route-id="@medico.Id">Editar</a></td>
                    <td><a asp-page="./VerMedico" asp-route-id="@medico.Id">Detalle</a></td>
                    <td><a asp-page="./EliminarMedico" asp-route-id="@medico.Id">Eliminar</a></td>
>>>>>>> parent of 002b127 (cambios en frontend)
                </tr>
            }
        </tbody>
    </table>
</form>