@page
@model HospiEnCasa.Frontend.Pages.ListaFamiliarDesignadoModel
@{
    ViewData["Title"]= "Familiares Designados";
}

<h1>Lista Familiares Designados</h1>
<hr>
<div class="col-12">
    <button type="button" class="btn btn-outline-success">
        <a asp-page="CrearFamiliarDesignado">Nuevo Familiar</a>
    </button>
</div>
<br> <br>

<form method="POST">
    <table class="table table-success table-striped">
    <thead>
        <tr>
            
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Genero</th>
            <th scope="col">Parentesco</th>
            <th scope="col">Correo</th>
            <th scope ="col">Paciente Id</th>
            <th scope="col" colspan="3"><center>Opciones</center></th>

        </tr>
    </thead>
    <tbody>
        <hr>
            @{
                int numFila = 1;
                foreach (var familiar in Model.FamiliarDesignado)
                {
                    <tr>
                    <th scope="row">@numFila</th>
                    <td>@familiar.Nombre</td>
                    <td>@familiar.Apellido</td>
                    <td>@familiar.Telefono</td>
                    <td>@familiar.Genero</td>
                    <td>@familiar.Parentesco</td>
                    <td>@familiar.Correo</td>
                    <td>@familiar.PacienteId</td>
                    <td><a asp-page="./EditarFamiliarDesignado" asp-route-id="@familiar.Id">
                    <button type="button" class="btn btn-success">Editar</button></a></td>
                    <td><a asp-page="./VerFamiliarDesignado" asp-route-id="@familiar.Id">
                    <button type="button" class="btn btn-success">Informacion</button></a></td>
                    <td><a asp-page="./EliminarFamiliarDesignado" asp-route-id="@familiar.Id">
                    <button type="button" class="btn btn-danger">Eliminar</button></a></td>
                    </tr>
                numFila++;
                }
            }    
        </hr>
</form>
