@page
@model HospiEnCasa.App.Frontend.Pages.ListadoEnfermerasModel
@{
    ViewData["Title"] = "Listado de Enfermeras";
}

<h1>Listado de enfermeras y enfermeros de la Hospitalizacion en Casa</h1>
<hr>
<a asp-page="CrearEnfermera">Crear Enfermera</a>

<form method="POST">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Genero</th>
                <th scope="col">TarjetaProfesional</th>
                <th scope="col">HorasLaborales</th>
                <th scope="col"colspan="3">Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enfermera in Model.Enfermeras)
            {
                <tr>
                    <th scope="row">@enfermera.Id</th>
                    <td>@enfermera.Nombre</td>
                    <td>@enfermera.Apellido</td>
                    <td>@enfermera.Telefono</td>
                    <td>@enfermera.Genero</td>
                    <td>@enfermera.TarjetaProfesional</td>
                    <td>@enfermera.HorasLaborales</td>
                    <td><a asp-page="./EditarEnfermera" asp-route-id="@enfermera.Id">Editar</a></td>
                    <td><a asp-page="./VerEnfermera" asp-route-id="@enfermera.Id">Detalle</a></td>
                    <td><a asp-page="./EliminarEnfermera" asp-route-id="@enfermera.Id">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</form>


