@page
@model HospiEnCasa.App.Frontend.Pages.ListadoEnfermerasModel
@{
    ViewData["Title"] = "Enfermeras";
}

<h1>Listado de enfermeras y enfermeros</h1>
<hr>
<div class="col-12">
    <button type="button" class="btn btn-outline-success">
        <a asp-page="CrearEnfermera">Crear Enfermera</a>
    </button>
</div>
<br> <br>

<form method="POST">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Genero</th>
                <th scope="col">TarjetaProfesional</th>
                <th scope="col">HorasLaborales</th>
                <th scope="col"colspan="3">Opciones</th>
            </tr>
        </thead>
        <tbody>
        <br>    
            @foreach (var enfermera in Model.Enfermeras)
            {
                <tr>
                    <th scope="row">@enfermera.Id</th>
                    <td>@enfermera.Nombre</td>
                    <td>@enfermera.Apellido</td>
                    <td>@enfermera.Telefono</td>
                    <td>@enfermera.Genero</td>
                    <td>@enfermera.TarjetaProfesional</td>
                    <td>@enfermera.HorasLaborales</td>
                    <td><a asp-page="./EditarEnfermera" asp-route-id="@enfermera.Id">
                    <button type="button" class="btn btn-success">Editar</button></a></td>
                    <td><a asp-page="./VerEnfermera" asp-route-id="@enfermera.Id">
                    <button type="button" class="btn btn-success">Informacion</button></a></td>
                    <td><a asp-page="./EliminarEnfermera" asp-route-id="@enfermera.Id">
                    <button type="button" class="btn btn-success">Eliminar</button></a></td>
                </tr>
            }
        </tbody>
    </table>
</form>


