@page
@model HospiEnCasa.Frontend.Pages.ListadoSignosVitalesModel
@{
    //C#
    ViewData["Title"] = "Listado de signos Vitales";

}

<h1> Listado de Signos Vitales</h1>
<hr>
<div class="col-12">
    <button type="button" class="btn btn-outline-success">
        <a asp-page="CrearsignoVital">Adicionar nuevo Signo Vital</a>
    </button> 
</div>

<form method="POST">
    <table class="table table-success table-striped">
        <thead>
            <tr>                
                <th scope="col">id</th>
                <th scope="col">PresionArterial</th>
                <th scope="col">Respiracion</th>
                <th scope="col">Pulso</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Nombre del paciente</th>
                <th scope="col"colspan="3" align="center">Opciones</th>

            </tr>
        </thead>
        <tbody>
        <hr>
            @foreach (var signoVital in Model.SignoVital)
            {
                <tr>
                    <td scope="row">@signoVital.Id</td>
                    <td>@signoVital.PresionArterial</td>
                    <td>@signoVital.Respiracion</td>
                    <td>@signoVital.Pulso</td>
                    <td>@signoVital.Temperatura</td>
                    <td>@signoVital.Paciente.Nombre</td>
                    <td><a asp-page="./EditarSignoVital" asp-route-id="@signoVital.Id">
                    <button type="button" class="btn btn-success">Editar</button></a></td>
                    <td><a asp-page="./VerSignoVital" asp-route-id="@signoVital.Id">
                    <button type="button" class="btn btn-success">Informacion</button></a></td>
                    <td><a asp-page="./EliminarSignoVital" asp-route-id="@signoVital.Id">
                    <button type="button" class="btn btn-success">Eliminar</button></a></td>
                </tr>             
            }
    
        </tbody>
    </table>
</form> 
